* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.topnav{
    position: fixed;
    background-color: #2e2e2e;
    color: lightgray;
    width: 100%;
    height: 40px;
    font-size: 12pt;
}


.topnav ul {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 10px 50px;
}
.topnav li{
    list-style: none;
    margin-left: 60px;
}

.topnav li a{
    text-decoration: none;
    color: lightgray;
}

.topnav li a:hover{
    color: white;
}

.bottomnav{
    position: relative;
    background-color: #ECECEC;
    color: #6E6E6E;
    width: 100%;
    height: 40px;
    font-size: 14px;
    text-align: center;
    top:40px;
    padding:12px 0;
}

.bottomnav p a{
    text-decoration: none;
    color: #06c;

}

.bottomnav p a:hover{
    text-decoration: underline;
}

main {
    padding-top: 40px;
    letter-spacing: -.022em;
}

#banner_one, #banner_two, #banner_three {
    background-image: url('images/bg1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 78vh;
    background-position-y: 10px;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-top: 25px;
}

.banner > * {
    display: flex;
    justify-content: center;
}

.banner h2 {
    font-size: 40pt;
}

.banner h3 {
    font-size: 26pt;
    font-weight: lighter;
}

.banner p{
    color: #918e8e;
    font-size: 20px;
    margin-top: 10px;
}

.banner a {
    font-size: 23px;
    font-weight: none;
    color: #06c;
    text-decoration: none;
    margin-right: 25px;
    margin-top: 30px;
}

#banner_two, #banner_three {
    background-image: url('images/bg2.jpeg');
    background-position-y: 10px;
    margin-top:0px;
    padding-top: 50px;

}

#banner_two, #banner_three h2{
    color: white;
}

#banner_two, #banner_three h3{
    color: white;
}


#banner_three {
    background-image: url('images/bg3.jpeg');
    background-position-y: 10px;

}

.category {
    display: flex;
}

.category .box {
    text-align: center;
    height: 83vh;
    width: 100%;
     background-size: cover;
    background-position: 50% 50%;
    padding-top: 40px;

   
    
    
    color:black;
    
}

.category .box a { 
    text-decoration: none;
    font-size: 14pt;
    color:#06c;
    

   
}

#box1 {
    background-image: url('images/card_1.jpeg');
font-size: 25px;
margin-left: 10px;
margin-right:10px;
margin-top: 10px;
    margin-bottom: 10px;
    


}


#box1 a{
    font-size: 20px;
    padding: 10px;
}

#box2 {
    background-image: url('images/card_2.jpeg');
    color: black;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    
}

#box2 img{
  
 
    z-index: 3;
}

#box2 h2{
    font-size: 20px;
    font-weight: lighter;
    padding-top: 8px;
    padding-bottom: 8px;
}








#box3 {
    background-image: url('images/card_3.jpeg');
    margin-left: 10px;
margin-right:10px;
}

#box3 h2{
    font-size: 40px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
}

#box3 h3{
    font-size: 20px;
    font-weight: lighter;
   
}


#box4 {
    background-image: url('images/card_4.jpeg');

    color: black;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
   
    height: 80vh;
    background-position-y: 10px;

}

#box4 img{

  
 
    z-index: 3;
}

#box4 h2{
    font-size: 20px;
    font-weight: lighter;
    padding-top: 8px;
    padding-bottom: 8px;
}

#box5 {
    background-image: url('images/card_5.jpeg');

    color: white;
    margin-left: 10px;
    margin-right: 10px;
    
    background-size: cover;
    background-repeat: no-repeat;
   
    height: 80vh;
    background-position-y: 10px;

}

#box5 a{
    color:white;
    padding-top: 10px;
}

#box5 img{

  padding-top: 20px;
 
    z-index: 3;
}

#box5 h2{
    font-size: 23px;
    font-weight: lighter;
    padding-top: 8px;
    padding-bottom: 8px;
}

#box6 {
    background-image: url('images/card_6.jpeg');

  
    margin-right: 10px;
   
    
    background-size: cover;
    background-repeat: no-repeat;
   
    height: 80vh;
    background-position-y: 10px;

}

#box6 .wrapper img{
    margin-top: 16px;
    padding-top: 50px;
 
  }



  
  
  #box6 a {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: 0.016em;
    color: white;
    padding-top: 15px;
   
  }
  
  
    
  




a:hover {
    text-decoration: underline !important;
}

footer {
    background-color: #f5f5f7;
    width: 100%;
    height: 1000px;
    color: #515154;
}

footer .container {
    width: 80%;
    
    overflow: none;
    margin: 10px auto;
    padding-top: 10px;
}

footer .container > * {
    font-size: 10pt;
   
    padding-left: 100px;
    padding-right: 100px;
}

footer .container .retail a{
    text-decoration: none;
    color: #06c
}

footer .container .retail a:hover{
    text-decoration: underline;
}

footer .container .tag a{
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
    padding-right: 10px;
    display: inline-block;
    margin-top: 5px;
    white-space: nowrap;
    

}


